.logo {
  /* background-color: wheat; */
  width: 65vw;
  margin: auto;
  display: flex;
}

header h1 {
  /* background-color: cadetblue; */
  color: #ffffff;
  font-size: 80px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  position: relative;
  text-shadow: 5px 5px 15px black;
}

header h3 {
  /* background-color: coral; */
  color: #3aafa9;
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 650px;
  text-shadow: 3px 3px 10px black;
  letter-spacing: 8px;
}
